{% extends "home.html" %}

{% block title %}Projeto Quentinhas{% endblock %}

{% block subtitle %}{% endblock %}

{% block content %}


    <div class="container">
        <div class="forms-div">
            <form method="POST">
                <div class="item-form">
                    <label for="text">Valor</label>
                    <input type="text" name="valor">
                </div>
                <div class="item-form">
                    <input type="submit" class="submit" value="Adicionar Divida" name="">
                </div>
            </form>
        </div>
    </div>


{% endblock %}