{% extends "home.html" %}

{% block title %}Projeto Quentinhas{% endblock %}

{% block subtitle %}{% endblock %}

{% block content %}


    <div class="container">
        <div class="div-carnes">
            <div class="item-carnes">
                <span>Este é o estoque de carnes do dia: {{ cardapio_Do_Dia }}</span>
            </div>
            <div class="item-carnes">
                <span>No estoque há {{ carne }} pedaços de carne</span>
            </div>
            <div class="item-carnes">
                <span>No estoque há {{ linguica }} pedaços de linguiça</span>
            </div>
            <div class="item-carnes">
                <span>No estoque há {{ frango }} pedaços de frango</span>
            </div>
            <div class="item-carnes">
                <form action="" method="POST">
                    <div class="input">
                        <label for="carnes">Carne</label>
                        <input type="number" name="carne">
                    </div>
                    <div class="input">
                        <label for="carnes">Linguiça</label>
                        <input type="number" name="linguica">
                    </div>
                    <div class="input">
                        <label for="carnes">Frango</label>
                        <input type="number" name="frango">
                    </div>
                        <input type="submit" value="Modificar estoque">
                </form>
            <div class="item-carnes">
                <a href="/novo_Dia">
                    <button>Começar um novo dia</button>
                </a>
            </div>
            </div>
        </div>
    </div>

{% endblock %}