{% extends "home.html" %}

{% block title %}Projeto Quentinhas{% endblock %}

{% block subtitle %}{% endblock %}

{% block content %}
    <div class="container">
                
        <div class="lista-link">
            <a href="/funcionario">
                <button>Voltar</button>
            </a>
        </div>
    </div>
    <div class="container">
        <div class="forms-div">
            <form action="" method="POST">
                <div class="item-form">
                    <label for="email">Seu E-mail:</label>
                    <input type="email" name="email">
                </div>
                <div class="item-form">
                    <label for="nome">Seu nome:</label>
                    <input type="text" name="nome">
                </div>
                <div class="item-form">
                    <label for="numero">Coloque um numero para contato:</label>
                    <input type="text" name="numero">
                </div>
                <div class="item-form">
                    <label for="senha">Sua senha:</label>
                    <input type="password" name="senha">
                </div>
                <div class="item-form">
                    <input type="submit" class="botao" value="Criar">
                </div>
            </form>
        </div>
    </div>



{% endblock %}
