{% extends "home.html" %}

{% block title %}Projeto Quentinhas{% endblock %}

{% block subtitle %}{% endblock %}

{% block content %}


    <div class="container">
        <div class="divida-info-div">
            <div class="divida-info">
                Id da divida: {{ divida["id_Divida"] }}
            </div>
            <div class="divida-info">
                Id do Devedor: {{ divida["id_Devedor"] }}
            </div>
            <div class="divida-info">
                Valor da divida: R${{ divida["valor"] }}
            </div>
        </div>

    </div>
    
        
        

        
        

{% endblock %}