{% extends "home.html" %}

{% block title %}Lista de Pedidos{% endblock %}

{% block subtitle %}{% endblock %}

{% block content %}


<div class="container">
    <form action="POST">
        <div class="pedindo-seccao">
            <select name="tipo_Feijao" id="">
                <option value="Sem Feijão">Sem Feijao</option>
                <option value="Feijão Carioca">Feijão Carioca</option>
                <option value="Feijão Macassar">Feijão Macassar</option>
                <option value="Feijao Preto">Feijão Preto</option>
            </select>
        </div>
        <div class="pedindo-seccao">
            <select name="tipo_Arroz" id="">
                <option value="Sem Arroz">Sem arroz</option>
                <option value="Arroz Solto">Arroz Refogado(Solto)</option>
                <option value="Arroz de Leite">Arroz De Leite(Doce)</option>
            </select>
        </div>
        <div class="pedindo-seccao">
            <h4>Opcionais:</h4>
            <div class="input"><input type="checkbox" name="opcionais" value="Macarrão"> Macarrão</div>
            <div class="input"><input type="checkbox" name="opcionais" value="Verduras"> Verduras
        </div>
        <h4>Carnes:</h4>
        
        <div class="input"><input type="checkbox" name="carnes" value="Frango"> Frango</div>
        <div class="input"><input type="checkbox" name="carnes" value="Carne"> Carne</div>
        <div class="input"><input type="checkbox" name="carnes" value="Linguiça"> Linguiça</div>
            
        <div class="input"><label for="local_Entrega">Local de entrega(Não preencha e concluiremos que você irá pegar no estabelecimento)</label></div>
        <div class="input"><input type="text" name="local_Entrega"></input></div>
        
        <div class="input"><label for="horario_Entrega">Horario de entrega</label></div>
        <div class="input"><input type="time" name="horario_Entrega"></input></div>

        <div class="pedindo-seccao">
            <label for="Observações">Observações</label>
            <textarea name="obs" class="input" id="obs"></textarea>
        </div>
        <div class="pedindo-seccao">
            <label for="pagamento">Forma de pagamento</label>
            <select name="pagamento" id="">
                <option value="Pessoalmente">Pessoalmente</option>
                <option value="Pix">Pix</option>
                <option value="Cartão">Cartão</option>
    
            </select>
        </div>
    </form>
</div>


{% endblock %}