{% extends "home.html" %}

{% block title %}Lista de Pedidos{% endblock %}

{% block subtitle %}{% endblock %}

{% block content %}


    <div class="container">
        <div class="pedido">
            <form method="POST">
                <div class="pedindo-seccao">
                    <select name="tipo_Feijao" id="">
                        <option value="Sem Feijão"{% if pedido[3] ==  "Sem Feijão" %}selected{% endif %}>
                            Sem Feijao
                        </option>
                        <option value="Feijão Carioca" {% if pedido[3]== "Feijão Carioca" %}selected{% endif %}>
                            Feijão Carioca
                        </option>
                        <option value="Feijão Macassar"{% if pedido[3] == "Feijão Macassar" %}selected{% endif %}>
                            Feijão Macassar
                        </option>
                        <option value="Feijao Preto" {% if pedido[3] == "Feijão Preto" %}selected{% endif %}>
                            Feijão Preto
                        </option>
                    </select>
                </div>
                <div class="pedindo-seccao">
                    <select name="tipo_Arroz" id="">
                        <option value="Sem Arroz" {% if pedido[4] == "Sem Arroz" %}selected{% endif %}>Sem arroz</option>
                        <option value="Arroz Solto" {% if pedido[4] == "Arroz Solto" %}selected{% endif %}>Arroz Refogado(Solto)</option>
                        <option value="Arroz de Leite" {% if pedido[4] == "Arroz de Leite" %}selected{% endif %}>Arroz De Leite(Doce)</option>
                    </select>
                </div>
                <div class="pedindo-seccao">
                    <h4>Opcionais:</h4>
                    <div class="input"><input type="checkbox" name="opcionais" value="Macarrão"{% if pedido[5] == "Sim" %}checked{% endif %}> Macarrão</div>
                    <div class="input">
                        <input type="checkbox" name="opcionais" value="Verduras" {% if pedido[6] == "Sim" %}checked{% endif %}> Verduras
                    </div>
                    
                </div>
                <h4>Carnes:</h4>
                
                <div class="input"><input type="checkbox" name="carnes" value="Frango"{% if pedido[7] == "Sim" %}checked{% endif %}> Frango</div>
                <div class="input"><input type="checkbox" name="carnes" value="Carne" {% if pedido[8] == "Sim" %}checked{% endif %}> Carne</div>
                <div class="input"><input type="checkbox" name="carnes" value="Linguiça" {% if pedido[9] == "Sim" %}checked{% endif %}> Linguiça</div>
                    
                <div class="input"><label for="local_Entrega">Local de entrega(Não preencha e concluiremos que você irá pegar no estabelecimento)</label></div>
                <div class="input"><input type="text" name="local_Entrega" value="{{pedido[13]}}"></input></div>
                
                <div class="input"><label for="horario_Entrega">Horario de entrega</label></div>
                <div class="input"><input type="time" name="horario_Entrega" value="{{pedido[12]}}"></input>

                <div class="pedindo-seccao">
                    <label for="Observações">Observações</label>
                    <textarea name="obs" class="input" id="obs" >{{ pedido[10] }}</textarea>
                </div>
                <div class="pedindo-seccao">
                    <label for="pagamento">Forma de pagamento</label>
                    <select name="pagamento" id="">
                        <option value="Pessoalmente" {% if pedido[16] == "Pessoalmente" %}selected{% endif %}>Pessoalmente</option>
                        <option value="Pix" {% if pedido[16] == "Pix" %}selected{% endif %}>Pix</option >
                        <option value="Cartão" {% if pedido[16] == "Cartão" %}selected{% endif %}>Cartão</option>
            
                    </select>
                </div>
                <input type="submit" value="Editar Pedido" class="botao-solicitar">
            </form>
        </div>
    </div>


{% endblock %}