<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/script.js"></script>
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="/">Delicias da Silvania</a>
                </li>
                <li onclick=mostrarSideBar()>
                    <img src="/static/menu.svg" class="svg" alt="">
                </li>
            </ul>
        </nav>
    </div>
    
    <nav class="side-bar">
        <ul>
            <li onclick="esconderSideBar()">
                <img src="/static/x.svg" alt=""  class="svg">
            </li>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/">Sobre</a>
            </li>
            <li>
                <a href="/cardapio">Cardápio</a>
            </li>
            <li>
                <a href="/">Contatos</a>
            </li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <div class="container">
        <footer>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="#sobre" id="link-sobre">Sobre</a>
                </li>
                <li>
                    <a href="/cardapio">Cardápio</a>
                </li>
                <li>
                    
                    <a href="#contatos" id="link-contatos">Contatos</a>
                    
                </li>
            </ul>
        </footer>
    </div>
</body>
</html>
