<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Projeto Quentinhas{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li>
                    Delicias da Silvania
                </li>
                <li onclick=mostrarSideBar()>
                    <img src="/static/menu.svg" class="svg" alt="">
                </li>
            </ul>
        </div>
    </nav>
    <nav class="side-bar">
        <ul>
            <li onclick="esconderSideBar()">
                <img src="/static/x.svg" alt=""  class="svg">
            </li>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="">Sobre</a>
            </li>
            <li>
                <a href="/cardapio">Cardápio</a>
            </li>
            <li>
                <a href="">Redes Sociais</a>
            </li>
            <li>
                <a href="">Contatos</a>
            </li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <div class="container">
        <footer>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="">Sobre</a>
                </li>
                <li>
                    <a href="/cardapio">Cardápio</a>
                </li>
                <li>
                    <a href="">Redes Sociais</a>
                </li>
                <li>
                    <a href="">Contatos</a>
                </li>
            </ul>
        </footer>
    </div>
    <script>
        function mostrarSideBar(){
        document.querySelector(".side-bar").classList.add("ativa");
        }

        function esconderSideBar(){
        document.querySelector(".side-bar").classList.remove("ativa");
        }
    </script>
</body>
</html>
