{% extends "home.html" %}

{% block title %}Projeto Quentinhas{% endblock %}

{% block subtitle %}{% endblock %}

{% block content %}

    <div class="container">
        <div class="welcome">
            <div class="text ">
                <h1>Bem Vindo</h1>
            </div>
            <div class="pedir">
                <a href="/login_cliente" class="">
                    <button>Pedir Quentinha</button>
                </a>
            </div>
            <div class="pedir">
                <a href="/cardapio">
                    <button class="">Cardápio de Hoje</button>
                </a>
            </div>
            <div class="login">
                <a href="/login_funcionario">
                    <button>Apenas Funcionários</button>
                </a>
            </div>
            
        </div>
    </div>

{% endblock %}