{% extends "home.html" %}

{% block title %}Delicias da Silvania{% endblock %}

{% block subtitle %}{% endblock %}

{% block content %}

    <div class="container">
        <div class="welcome">
            <div class="text ">
                Comida deliciosa para você, peça agora!
            </div>
            <div class="pedir">
                <a href="/login_cliente" class="">
                    <button>Pedir Quentinha</button>
                </a>
            </div>
            <div class="pedir">
                <a href="/cardapio">
                    <button class="">Cardápio de Hoje</button>
                </a>
            </div>
            <div class="login">
                <a href="/login_funcionario">
                    <button>Apenas Funcionários</button>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
            <div class="sobre-projeto amarelo" id="sobre">
            <h2>Sobre</h2>
            <p>
                Este site foi criado no intuito de ajudar a organizar
                  e facilitar o pedido de clientes, aproximando nossos clientes
                   da nossa comida caseira.
            </p>
            <p>
                Esperamos que você aproveite a experiência e,
                claro, a comida! Obrigado por apoiar um pequeno
                negócio familiar.            
            </p>
        </div>
    </div>
    <div class="separador">
    </div>
    <div class="container ">
        <div class="contatos cor-sec" id="contatos">
            <h2>Delicias Da Silvania</h2>
            <p>📞 Telefone: (83) 99927-9993</p>
            <p>📍 Endereço: Rua Severino Luís Fernandes, 52 - Picuí, PB</p>
            <p>📱 WhatsApp: <br>
                 (83) 9 9927-9993
            </p>
            <p>Almoço de segunda a sábado - 10:00 AM até as 13:30 PM</p>
            <p>Janta de segunda a sábado - 18:30 PM até ás 20:00 PM</p>
            <p>📸 Instagram: <a href="https://www.instagram.com/delicias_da_silvania/" target="_blank">@delicias_da_silvania</a></p>
        </div>
    </div>
        <div class="container ">
            <div class="contatos cor-ter">
                <h2>Web Dev</h2>
                <p>Gabriel Martins</p>
                <p>📸 Instagram: <a href="https://www.instagram.com/gabrielmartinsw3dev/" target="_blank">@gabrielmartinsw3dev</a></p>
                <p>LinkedIn: <a href="https://www.linkedin.com/in/gabriel-martins-878529365/" target="_blank"><br> gabriel-martins-878529365</a></p>
            </div>
        
    </div>


{% endblock %}