{% extends "home.html" %}

{% block title %}Projeto Quentinhas{% endblock %}

{% block subtitle %}{% endblock %}

{% block content %}

    <div class="container">
                    
        <div class="lista-link">
            <a href="/funcionario">
                <button>Voltar</button>
            </a>
        </div>
    </div>
    <div class="container">
       <div class="form-div">
            <form method="POST">

                <div class="input-pedido"><label for="cardapio">Cardápio de hoje</label></div>
                <div class="input-pedido"><textarea name="cardapio" class="obs"></textarea></div>
                <div class="input-pedido"><input type="submit" value="Enviar Cardápio" class="botao-solicitar"></div>
            </form>
       </div> 
    </div>


{% endblock %}