{% extends "home.html" %}

{% block title %}Projeto Quentinhas{% endblock %}

{% block subtitle %}{% endblock %}

{% block content %}


    <div class="container">
       <div class="form-div">
            <form action="" method="POST">

                <div class="input"><label for="cardapio">Cardápio de hoje</label></div>
                <div class="input"><textarea name="cardapio" class="obs"></textarea></div>
                <div class="input"><input type="submit" value="Enviar Cardápio" class="botao-solicitar"></div>
            </form>
       </div> 
    </div>


{% endblock %}