{% extends "home.html" %}

{% block title %}Projeto Quentinhas{% endblock %}

{% block subtitle %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="text">
            <p>Por favor coloque seu e-mail e senha registrado no nosso sistema:</p>
        </div>
    </div>
    <div class="container">
        <div class="forms-div">
            <form method="POST">
                <div class="item-form">
                    <input type="email" name="email" placeholder="Informe seu e-mail cadastrado">
                </div>
                <div class="item-form">
                    <input type="password" name="senha" placeholder="Informe sua senha cadastrada" id="">
                </div>
                <div class="item-form">
                    <input type="submit" class="submit amarelo" value="Continuar" name="">
                </div>
                <div class="item-form">
                    <a href="/criar_Cliente">Não tem uma conta? Registre-se</a>
                </div>
            </form>
            
        </div>
    </div>

{% endblock %}